<div class="container-sm w-50 body-text">
  <div class="text-center">
    <p>好きな作家だから買ったけど読めていない本</p>
    <p>セールで買ったけど後回しにしていたゲーム</p>
    <p>ウォッチリストに入れたことも忘れていた映画</>
    <p>「時間ができたら、いつか…」と思っているうちに積み上がっていませんか？</p>
  </div>
  <div class="text-center">
    <%= image_tag "tower_logo_big.png" %>
  </div>
  <h4>積んでいるコンテンツを登録しよう</h4>
  <p>誰かが背中を押してくれるかもしれません。
  おすすめされたものから崩していくもよし、他の人のコメントを参考にするもよし。</p>
  <h4>今の気分も登録しよう</h4>
  <p>それに合ったコンテンツをおすすめしてもらえるかもしれません！</p>
  <h4>背中を押してあげよう</h4>
  <p>他の人の積み上げたタワーを見てみて、背中を押してあげましょう。</p>
  <h4>好きな作品を布教しよう</h4>
  <p>作品名から他の人のタワーを検索することができます。おすすめコメントで布教しましょう！</p>
</div>
