<div class="container-sm w-75 body-text py-5">
  <div class="container-sm w-50 ps-5">
    <ul>
      <li>好きな作家だから買ったけど読めていない積読本</li>
      <li>セールで買ったけど後回しにしていた積みゲー</li>
      <li>ウォッチリストに入れたことも忘れていた映画</li>
    </ul>
  </div>
  <p class="text-center">「時間ができたら、いつか…」と思っているうちにタワーのように積み上がっていませんか？</p>
  <div class="text-center mb-4 mt-5">
    <%= image_tag "tower_logo_big.png" %>
  </div>
  <div class="container-sm text-center">
    <h5 class="advice">積んでいるコンテンツを登録しよう</h5>
    <p>誰かがいいねボタンで背中を押してくれるかもしれません。<br>
    おすすめされたものを消化して、タワーを崩しましょう。</p>
    <h5 class="advice">背中を押してあげよう</h5>
    <p>他の人の積み上げたタワーを見てみて、背中を押してあげましょう。</p>
    <h5 class="advice">好きな作品を布教しよう</h5>
    <p>熱く布教したい作品があったら、ぜひおすすめコメントを投稿してみましょう。</p>
  </div>
</div>
