<div class="col-lg-4">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h4><%= link_to user.name + "さんのタワー", user_properties_path(user) %></h4>
      </div>
      <% user.properties.limit(5).each do |property| %>
        <div class="card-text">
          <%= property.content.title %>
        </div>
      <% end %>
      <% if user.properties.count > 5 %>
        <div class="card-text pull-right">
          ほか<%= user.properties.count - 5 %>タイトル
        </div>
      <% end %>
    </div>
  </div>
</div>
