<div class="row">
  <div class="col">
    <%= property.content.category %>
  </div>
  <div class="col">
    <%= property.content.title %>
  </div>
  <div class="col">
    <%= link_to '削除', property_path(property), method: :delete %>
  </div>
<div>