// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-item a {
  color: #61421c;
  font-family: "ヒラギノ角ゴ";
  font-weight: 700;
}

.body-text {
  color:#61421c;
  font-family: "ヒラギノ角ゴ";
}

.advice {
  font-weight: 600;
}