// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: #61421c;
}

.border_none {
  color: #61421c;
  text-decoration: none;
}

.column {
  color: #61421c;
}

.background {
  background-image: url("library.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.form-wrapper {
  min-height: 100vh;
}

.container-sm {
  background-color: #fff;
}

.contents-wrapper {
  width: 80%;
}

.header-row {
  background-color: #4fa4923e;
}

.form-wrapper {
  width: 80%;
}
